@{
    ViewData["Title"] = "Home Page";
}

<h1>@sharedLocalizer["Tittle"]</h1>

<a asp-route-culture="@currentLang.Lang" >Current</a>
<a href="/@LANGCONSTANT.Az">Az</a>
<a href="/@LANGCONSTANT.En">En</a>
<a href="/@LANGCONSTANT.Ru">Ru</a>
 