<style type="text/css">
    .center {
        margin: auto;
        width: 30%;
        padding: 10px;
        margin-top: 200px;
    }
</style>
<div class="center">
    <img src="~/assets/images/View/logo.png" />
</div>


