@{
    Layout = null;
}

<html>
<head>
    <link href="~/assets/css/Report.css" rel="stylesheet" />
    
    <script src="~/Custom/Report/jquery.min.js"></script>
 
    <script src="~/Custom/Utility.js"></script>

    <script src="~/Custom/Report/Ruler.js"></script>

    <script src="~/Custom/Report/Column.js"></script>

    <script src="~/Custom/Report/Text.js"></script>

    <script src="~/Custom/Report/Shape.js"></script>

</head>
<body style="margin-top:-90px">
    <script src="~/Custom/Report/Canvas.js"></script>
</body>
</html>
